# Ignorar dependencias de Node en cualquier subcarpeta
node_modules/
*/node_modules/
*/*/node_modules/

# Ignorar archivos de variables de entorno (por seguridad)
.env
.env.*

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db